/* styles_global.css - This is the global stylesheet for
 * the website. This should be slightly improved from the
 * previous one.
*/

h1, h2, h3, p, head, body, header, main, footer, html, table, 
th, tr, td, ul, li, a, nav {
    margin: 0;
    padding: 0;
    border: 0;
}

h1, h2, h3, nav a, ul, li, table, p {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    padding: 10px;
}

h3 {
    color: #47d147;
}

ul {
    margin-left: 20px;
}

li {
    margin-left: 20px;
}

body {
    background-color: #bababa;
}

img.logo {
    display: block;
    margin: auto;
    max-width:100%;
    width: auto;
    height: auto;
}

nav {
    background-color: #333; /* dark grey */
    padding: 10px;
    padding-left: 0;
}

nav a {
    font-size: 1.2em;
    color: white;
    padding: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: #47d147;
    padding-top: 10px;
    padding-bottom: 11px;
}

p {
    text-align: justify;
    padding: 10px;
}

p.mandy {
    float: left;
    background-color: #47d147;
    margin-bottom: 10px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

p.mandy a {
    color: #333;
    text-decoration: none;
}

p.mandy a:hover {
    color: #808080;
}

article p {
    margin-bottom: 10px;
}

main {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    min-width: 70%;
    border-bottom: 3px solid black;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

table {
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 20px;
    table-layout: fixed;
    width: 100%;
    min-width: 100%;
    text-overflow: ellipsis;
}

th {
    background-color: #47d147;
    padding: 10px;
    text-align: left;
    border: 1px solid #333;
}

td {
    border: 1px solid #333;
    padding: 5px;
}

tr {
    padding: 10px;
}

tr:nth-child(even) {
    background-color:#f2f2f2f2;
}

tr:hover {
    background-color:#dddddd;
}

footer {
    background-color: #47d147;
    margin: auto;
    width: 70%;
    border-radius: 25px;
    border-bottom: 3px solid black;
}

footer p {
    text-align: center;
    margin-top: 10px;
}